@{
    ViewData["Title"] = "Home Page";
}

<div class="row d-flex justify-content-center align-items-center h-100" style="margin-top: -76px;">
    <div class="col-xl-10">
        <div class="card" style="border-radius: 1rem;">
            <div class="row g-0" style="margin-top: -68px;margin-right: 6px;margin-bottom: -60px;margin-left: 0px;padding: 0px;padding-top: -21px;padding-right: 2px;padding-bottom: -45px;padding-left: -3px;">
                <div class="col-md-6 col-lg-5 d-none d-md-block"><img class="img-fluid" src="https://us.123rf.com/450wm/rigsby8131/rigsby81311704/rigsby8131170400147/75488593-tuercas-pernos-y-arandelas-en-un-fondo-de-acero.jpg?ver=6" alt="login form" style="border-radius: 1rem 0 0 1rem;width: 423px;height: 605.5px;padding-top: 69px;padding-bottom: 60px;" /></div>
                <div class="col-md-6 col-lg-7 col-xxl-6 d-flex align-items-center">
                    <div class="text-black card-body p-4 p-lg-5">
                        <form>
                            <div class="d-flex align-items-center mb-3 pb-1"><i class="fas fa-cubes fa-2x me-3" style="color: #ff6219;"></i></div>
                            <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;font-family: Acme, sans-serif;">Iniciar sesión en su cuenta</h5>
                            <div class="form-outline mb-4"><input id="form2Example17" class="form-control form-control-lg form-control form-control form-control form-control" type="email" /><label class="form-label form-label form-label form-label form-label" for="form2Example17" style="font-size: 20px;font-family: Acme, sans-serif;">Email </label></div>
                            <div class="form-outline mb-4"><input id="form2Example27" class="form-control form-control-lg form-control form-control form-control form-control" type="password" /><label class="form-label form-label form-label form-label form-label" for="form2Example27" style="font-family: Acme, sans-serif;font-size: 20px;">Contraseña</label></div>
                            <div class="pt-1 mb-4"><a class="btn btn-dark btn-lg btn-block" role="button" href="menu-1.html" style="background: var(--bs-red);">INGRESAR</a></div><a class="small text-muted" href="Olvido password.html" style="font-size: 18px;font-family: Alatsi, sans-serif;">Olvidaste la Contraseña?</a>
                        </form><a class="small text-muted" href= style="font-size: 18px;font-family: Alatsi, sans-serif;">Aun no tienes perfil?</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>

</script>